$blue: #499AE9;
$dark-blue: #2D286C;
$green: #08B24A;
$red: #FF1616;
$yellow: #F5A623;
$pink: #E9394D;
$dark-pink:#781E28;
$light-pink:#EF5365;
$hover-color:#E2263B;

$med-grey: #868686;
$grey: #a6a7a5;
$light-grey: #E8E8E8;
$lighter-grey: #F8F7F7;
$white: #fff;
$off-white: #FFFBF4;