//Serif
@font-face {
    font-family: 'Bitter';
    src: url('../fonts/bitter-regular-webfont.woff2') format('woff2'),
         url('../fonts/bitter-regular-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'Bitter Bold';
    src: url('../fonts/bitter-bold-webfont.woff2') format('woff2'),
         url('../fonts/bitter-bold-webfont.woff') format('woff');
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family: 'Caslon Display';
    src: url('../fonts/caslon-display-webfont.woff2') format('woff2'),
         url('../fonts/bitter-display-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'Caslon Bold';
    src: url('../fonts/caslon-bold-webfont.woff2') format('woff2'),
         url('../fonts/caslon-bold-webfont.woff') format('woff');
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family: 'Caslon Regular';
    src: url('../fonts/caslon-regular-webfont.woff2') format('woff2'),
         url('../fonts/caslon-regular-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'Caslon Italic';
    src: url('../fonts/caslon-italic-webfont.woff2') format('woff2'),
         url('../fonts/caslon-italic-webfont.woff') format('woff');
    font-weight:normal;
    font-style:italic;
}

@font-face {
    font-family: 'Didot';
    src: url('../fonts/didot-regular-webfont.woff2') format('woff2'),
         url('../fonts/didot-regular-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'Bodoni';
    src: url('../fonts/bodoni-regular-webfont.woff2') format('woff2'),
         url('../fonts/bodoni-regular-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

//Sans-serif
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-nova-regular-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/proxima-nova-bold-webfont.woff2') format('woff2'),
         url('../fonts/proxima-nova-bold-webfont.woff2') format('woff2');
    font-weight:bold;
    font-style:normal;
}

//Monospace
@font-face {
    font-family: 'Anonymous Bold';
    src: url('../fonts/anonymous-bold-webfont.woff2') format('woff2'),
         url('../fonts/anonymous-bold-webfont.woff') format('woff');
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family: 'Anonymous';
    src: url('../fonts/anonymous-regular-webfont.woff2') format('woff2'),
         url('../fonts/anonymous-regular-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'Anonymous Italic';
    src: url('../fonts/anonymous-italic-webfont.woff2') format('woff2'),
         url('../fonts/anonymous-italic-webfont.woff') format('woff');
    font-weight:normal;
    font-style:italic;
}


//Script