@import url(/Applications/MAMP/htdocs/nina_wk8/public_html/css/bootstrap.css);
button.btn {
  cursor: pointer;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@font-face {
  font-family: 'Bitter';
  src: url("../fonts/bitter-regular-webfont.woff2") format("woff2"), url("../fonts/bitter-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bitter Bold';
  src: url("../fonts/bitter-bold-webfont.woff2") format("woff2"), url("../fonts/bitter-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Caslon Display';
  src: url("../fonts/caslon-display-webfont.woff2") format("woff2"), url("../fonts/bitter-display-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caslon Bold';
  src: url("../fonts/caslon-bold-webfont.woff2") format("woff2"), url("../fonts/caslon-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Caslon Regular';
  src: url("../fonts/caslon-regular-webfont.woff2") format("woff2"), url("../fonts/caslon-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caslon Italic';
  src: url("../fonts/caslon-italic-webfont.woff2") format("woff2"), url("../fonts/caslon-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Didot';
  src: url("../fonts/didot-regular-webfont.woff2") format("woff2"), url("../fonts/didot-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bodoni';
  src: url("../fonts/bodoni-regular-webfont.woff2") format("woff2"), url("../fonts/bodoni-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("/assets/proxima-nova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/proxima-nova-bold-webfont.woff2") format("woff2"), url("../fonts/proxima-nova-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Anonymous Bold';
  src: url("../fonts/anonymous-bold-webfont.woff2") format("woff2"), url("../fonts/anonymous-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Anonymous';
  src: url("../fonts/anonymous-regular-webfont.woff2") format("woff2"), url("../fonts/anonymous-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Anonymous Italic';
  src: url("../fonts/anonymous-italic-webfont.woff2") format("woff2"), url("../fonts/anonymous-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

.navbar-brand img {
  width: 98px;
  height: 21px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Caslon Display', 'serif';
  font-weight: normal;
}

h6 {
  font-family: 'Anonymous', 'monospace';
  font-weight: normal;
}

p {
  font-family: 'Proxima Nova', 'sans-serif';
  font-weight: normal;
}

body {
  background: #FFFBF4;
}

.btn-primary {
  color: #fff;
}

hr {
  border: 5px solid #E9394D;
  margin: 0px;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.logo {
  width: 15%;
  margin: 10px;
}
